body {
    font-family:sans-serif, 'Open sans', 'Helvetica Neue';
    margin:0;
    min-height:100vh;
}

ul {
    display:flex;
    list-style-type:none;
    margin:0;
    padding:0;
    gap:18px;
    align-items:center;
}

a{
    color:white;
    text-decoration:none;
    font-size:12px;
}

p {
    margin:0;
    margin-bottom:8px;
}

h3 {
    font-size:30px;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:10px;
}

.logo {
    display:flex;
    align-items:center;
}

.header {
    height:70px;
    background:#1c1c1c;
    color:white;
    margin:0;
    display:flex;
    justify-content:space-around;
    align-content:center;
}

.headertwo {
    background:#000000;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-basis:auto;
}

.part-one {
    color:white;
    display:flex;
    flex-direction: column;
    width:230px;
    justify-content:space-around;
}

.place-holder {
    display:flex;
    flex-shrink:30;
    flex-grow:0;
}

.image-one {
    width:180px;
    border-radius:10%;
}

button.sign-up {
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-basis:auto;
    align-items: center;
    justify-content:center;
    border:1px solid #ddd;
    background:rgb(138, 0, 0);
    color:white;
    width:100px;
    margin-bottom:10px;
}

button {
 padding: 8px 16px;
 border-radius:8px;
}

.information {
    background-color:#1c1c1c;
    color:white;
    height:220px;
    display:flex;
    flex-direction:column;
    align-items:center;
    flex-basis:auto;
    justify-content:space-around;

}

.links {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:800px;
}

.pic-two,.pic-three,.pic-four {
    width:115px;
    border-radius:10%;
    background: rgb(142, 142, 249);
    margin-bottom: 10px;
    display:flex;
    flex-wrap:wrap;
}

h4 {
    display:flex;
    list-style-type:none;
    margin:0;
    padding:0;
    gap:18px;
    align-items:center;
}

.quote {
    color:rgb(246, 218, 40);
    background-color:#1c1c1c;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.p-one,.p-two{
    display:flex;
    width:300px;
}

.p-two {
    justify-content:flex-end;
    color:white;
    margin-bottom: 20px;
}

.container
{
    background-color:#1c1c1c;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    color:white;
}

.blue {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;;
    padding:6px;
    width:300px;

}
.call-to-action {
    display:flex;
    background: rgb(190, 12, 12);
    margin-top:px;
    border-radius:2%;
    padding:18px;
    margin:10px;
}

.call-to-action {
    display:flex;
}

button,.button-two
{
    display:flex;
    align-items:center;
    margin-left:12px;
    color:white;
    border-style:2px solid white;
    background-color: rgb(190, 12, 12);
}

.copyright
{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#1c1c1c;
    color:white;
}

